.container{
    max-width: 100%;
    width: 100%;
    height: 700px;
    
    .primary{
        display: flex;
        margin-left: 30%;
        margin-top: 5%;
        .logo{
            display: block;
            img{
                border: 1px solid black;
                height: 200px;
                border-radius: 200px;
            }
        }
    
        .title{
            margin-left: 10%;
            margin-top: 7%;
            display: block;
        }
    }

    .secondary{
        margin-top: 5%;
        margin-left: 10%;
        .table{
            width: 90%;
            text-align: center;
        }
    }

    .terciary{
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 50%;
    }

    
}

.card{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    width: 80%;
    border-radius: 30px;
}