<body *ngIf="loadedData" [ngStyle]="{'background': 'linear-gradient(' + style.primary + ' 0%, ' + style.secondary + ' 100%)', 'height':'100vh'}">
    <app-navbar></app-navbar>
    <div class="container">
        <div class="card">
            <div class="primary">
                <div class="title"><label>ADQUIERE TU PRESUPUESTO</label></div>
            </div>
            <div class="secondary">

            </div>
            <div class="terciary">
                <button class="btn btn-primary" [ngStyle]="{'background-color': style.primary, 'border':'none'}" (click)="goBack()">Volver</button>
            </div>
        </div>
    </div>
</body>
