<body *ngIf="loadedData" [ngStyle]="{'background': 'linear-gradient(' + style.primary + ' 0%, ' + style.secondary + ' 100%)', 'height':'100vh'}">
    <app-navbar></app-navbar>
    <div class="container">
        <div class="card">
            <div class="label">
                <label [ngStyle]="{'font-family': style.font}">DISEÑA TU INSTALACIÓN FOTOVOLTAICA</label>
            </div>
            <div class="button" >
                <button [ngStyle]="{'font-family': 'style.font', 'background-color': style.primary, 'color':'white'}" class="btn" (click)="nextPage()" ><strong>IR AL SIMULADOR</strong></button>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>
