<body *ngIf="loadedData" [ngStyle]="{'background': 'linear-gradient(' + style.primary + ' 0%, ' + style.secondary + ' 100%)', 'height':'100vh'}">
    <app-navbar></app-navbar>
    <div class="container">
        <div class="card">
            <div class="primary">
                <div class="logo">
                    <img src="{{style.logo}}" alt="">
                </div>
                <div class="title">
                    <h1>{{businessData.name}}</h1>
                </div>
            </div>
            <div class="secondary overflow-auto">
                <table class="table">
                    <thead>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Email</th>
                        <th>Telefono</th>
                        <th>Budget</th>
                        <th>Project</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let client of clients">
                            <td>{{client.id}}</td>
                            <td>{{client.name}}</td>
                            <td>{{client.surname}}</td>
                            <td>{{client.email}}</td>
                            <td>{{client.phone}}</td>
                            <td><button class="btn btn-primary" [ngStyle]="{'background-color': style.primary, 'border':'none'}" (click)="detailBudget(client.id)">Budget</button></td>
                            <td><button class="btn btn-primary" [ngStyle]="{'background-color': style.primary, 'border':'none'}" (click)="detailProject(client.id)">Project</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="terciary">
                <button class="btn btn-primary" [ngStyle]="{'background-color': style.primary, 'border':'none'}" (click)="goBack()">Volver</button>
            </div>
        </div>
    </div>
</body>